{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/styles.css">
    <script src="static/assets/js/main.js" type="text/javascript" defer></script>
    <script src="static/assets/js/htmx.min.js"></script>
    <title>Dalennod</title>
</head>

<body>
    <nav>
        <form class="search-form" hx-post="/search/">
            <input type="text" name="searchTerm" class="input-search" placeholder="Search a keyword...">
            <button class="button-svg" type="submit" id="button-search-html" hx-target="main" hx-post="/search/" title="Search"> <img class="svg-img" src="static/assets/imgs/search_button.svg" alt="Search button"> </button>
        </form>
        <button class="button-svg" id="button-add-html" title="Create" onclick="showCreateDialog();"> <img class="svg-img" src="static/assets/imgs/create_button.svg" alt="Create button"> </button>
    </nav>

    <main>
        {{ block "bm_list" . }}
        <div class="grid-view-list">
            {{ range. }}
            <div class="grid-child" id="{{ .ID }}">
                <div id="bm-info">
                    <div id="id-creation">
                        <p><a href="{{ .URL }}" target="_blank">{{ .ID }}.</a></p>
                        <span style="font-size: 12px;">{{ .Modified }}</span>
                    </div>

                    <!-- Multiple `if...else if` statements does not work properly. So, currently this is assuming that every thumbURL was successfully converted to B64ThumbURL. Not necessarily a problem because if the src gets improper image data then the alt text will be shown, but maybe there is a better way to implement this. TODO in future -->
                    {{ if .B64ThumbURL }}
                    <div id="thumbURL">
                        <a href="{{.URL }}" target="_blank">
                            <img src="data:image/{{.B64ThumbURL }}" alt="[couldn't load thumbnail]">
                        </a>
                    </div>
                    {{ else }}
                    <div id="default-thumbURL">
                        <a href="{{.URL }}" target="_blank">
                            <img src="static/assets/imgs/41415.png" alt="[couldn't load thumbnail]">
                        </a>
                    </div>
                    {{ end }}

                    {{ if .Title }}
                    <p><a href="{{ .URL }}" target="_blank">{{ .Title }}</a></p>
                    {{ else if not .Title }}
                    <p><a href="{{ .URL }}" target="_blank">{{ .URL }}</a></p>
                    {{ end }}

                    {{ if .Note }}
                    <p>Notes: {{ .Note }}</p>
                    {{ end }}

                    {{ if .Archived }}
                    <p>Archive: <a href="{{ .SnapshotURL }}" target="_blank">[click here]</a></p>
                    {{ end }}

                    {{ if .Keywords }}
                    <div>
                        {{ $id := .ID }}
                        {{ $keywords := keywordSplit .Keywords "," }}
                        {{ range $_, $keyword := $keywords }}
                            <div> <form hx-post="/search/">
                                <input hidden name="searchTerm" value="{{ $keyword }}">
                                <button class="button-svg" type="submit" id="button-search-html" hx-target="main" hx-post="/search/" title="Search for this term"> <span id="keywords">{{ $keyword }}</span> </button>
                            </form> </div>
                        {{ end }}
                    </div>
                    {{ end }}

                    {{ if .BmGroup }}
                    <p> <form hx-post="/search/">
                            <input hidden name="searchTerm" value="{{ .BmGroup }}">
                            <button class="button-svg" type="submit" id="button-search-html" hx-target="main" hx-post="/search/" title="Search for this term"> <span id="group">{{ .BmGroup }}</span> </button>
                        </form> </p>
                    {{ end }}
                </div>

                <div id="buttons">
                    <button class="button-svg" id="button-update" onclick="window.location.href='static/update.html'; getOldData(this);" title="Update">
                        <img class="svg-img" src="static/assets/imgs/update_button.svg" alt="Update button"> </button> 
                    <button class="button-svg" id="button-delete" hx-target="main" hx-get="/delete/{{.ID }}" title="Delete">
                        <img class="svg-img" src="static/assets/imgs/delete_button.svg" alt="Delete button"> </button>
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </main>

    <dialog class="dialog-create">
        <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 5px;"> 
            <span style="flex: 1;">Create a new bookmark</span>
            <button onclick="closeCreateDialog();" hx-target="main" hx-get="/" class="button-svg" id="button-back" title="Close modal"><img class="svg-img" src="static/assets/imgs/cross_button.svg" alt="Close button"></button> </div>
        <div class="dialog-inputs">
            <p>URL<span class="red-text">*</span>:<br><input autofocus type="text" class="uac-input" id="input-url" placeholder="URL to save" required></p>
            <p>Title:<br><input type="text" class="uac-input" id="input-title" placeholder="Title for the bookmark"></p>
            <p>Notes:<br><input type="text" class="uac-input" id="input-note" placeholder="Log notes for bookmark"></p>
            <p>Keywords:<br><input type="text" class="uac-input" id="input-keywords" placeholder="Keywords, to, search, bookmark"></p>
            <p>Group:<br><input type="text" class="uac-input" id="input-bmGroup" placeholder="Group to store bookmark into"></p>
            <p>Archive?:
                <input type="radio" name="radio-yes" id="radio-yes" value="1">
                <label for="radio-yes">Yes</label>
                <input type="radio" name="radio-no" id="radio-no" value="0" checked>
                <label for="radio-no">No</label> </p>
            <p class="red-text">* required</p>
            <p style="text-align: center;">
                <button class="button-text" id="button-add-req" onclick="addEntry();" title="Create">Create</button> <span id="checkmark" hidden>&check;</span>
                <span id="archive-warn" class="red-text" hidden>WARN: Archiving may take few seconds to minutes. It's safe to navigate away in the meantime.</span>
            </p>
        </div>
    </dialog>

    <!-- <dialog class="dialog-update">
        <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 5px;"> 
            <span style="flex: 1;">Update a bookmark</span>
            <button onclick="closeCreateDialog();" class="button-svg" id="button-back" title="Close modal"><img class="svg-img" src="static/assets/imgs/cross_button.svg" alt="Close button"></button> </div>
        <div class="dialog-inputs">
            <p>URL<span class="red-text">*</span>:<br><input autofocus type="text" id="input-url" placeholder="URL to save" required></p>
            <p>Title:<br><input type="text" id="input-title" placeholder="Title for the bookmark"></p>
            <p>Notes:<br><input type="text" id="input-note" placeholder="Log notes for bookmark"></p>
            <p>Keywords:<br><input type="text" id="input-keywords" placeholder="Keywords, to, search, bookmark"></p>
            <p>Group:<br><input type="text" id="input-bmGroup" placeholder="Group to store bookmark into"></p>
            <p>Archive?:
                <input type="radio" name="radio-yes" id="radio-yes" value="1">
                <label for="radio-yes">Yes</label>
                <input type="radio" name="radio-no" id="radio-no" value="0" checked>
                <label for="radio-no">No</label> </p>
            <p class="red-text">* required</p>
            <p style="text-align: center;">
                <button class="button-text" id="button-add-req" onclick="addEntry();" title="Create">Create</button> <span id="checkmark" hidden>&check;</span>
                <span id="archive-warn" class="red-text" hidden>WARN: Archiving may take few seconds to minutes. It's safe to navigate away in the meantime.</span>
            </p>
        </div>
    </dialog> -->
</body>

</html>
{{ end }}
