body {
    font-family: sans-serif;
    /* background-color: #232323; */
    /* color: #eaeaea; */
}

body.dark {
    background-color: #232323;
    color: #eaeaea;
}

body * {
    box-sizing: border-box;
}

input {
    background: none;
    border-width: 0px;
    text-decoration: none;
    /* color: #eaeaea; */
}

input.dark {
    color: #eaeaea;
}

input:focus {
    outline: none;
}

button {
    /* background-color: #2875b5; */
    border-radius: 5pt;
    /* border-color: #2875b5; */
    cursor: pointer;
    color: #1f1f1f;
}

button.dark {
    background-color: #2875b5;
    border-color: #2875b5;
}

nav {
    position: fixed;
    top: 0;
    width: 99%;
    padding: 10px;
    height: 50px;
    background-color: #f9f9f9;
    /* background-color: #2d2d2d; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 4pt;
    border-bottom-right-radius: 4pt;
}

nav.dark {
    background-color: #2d2d2d;
}

#input-search {
    width: 100%;
    height: 50px;
    margin-right: 10px;
}

main {
    margin-top: 66px;
}

.grid-view-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.grid-child {
    background-color: #f1f1f1;
    /* background-color: #303030; */
    line-height: 1.2;
    padding: 10px;
    border-radius: 4pt;
}

.grid-child.dark,
.centered.dark,
.update-main div.dark {
    background-color: #303030;
}

.grid-child a {
    text-decoration: none;
    color: black;
    /* color: #eaeaea; */
}

.grid-child a.dark {
    color: #eaeaea;
}

.grid-child a:hover {
    text-decoration: underline;
    color: #2f9df7;
}

.centered {
    /* background-color: #303030; */
    padding: 20pt;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.centered input[type=text] {
    width: 50vw;
}

.update-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.update-main input[type=text] {
    width: 25vw;
}

.update-main div {
    /* background-color: #303030; */
    padding: 20pt;
}