:root {
    --light-mode-foreground: #ccc;
    --light-mode-background: #ddd;
    --light-mode-text: #000;
    --dark-mode-foreground: #232323;
    --dark-mode-background: #131313;
    --dark-mode-text: #eaeaea;
    --global-border-color: #aaa;
    --accent-color: #2f9df7;
    --red-text: #ff3535;
}

body {
    font-family: system-ui, Arial, sans-serif;
}

body * {
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

body,
dialog,
.logTextArea {
    background-color: var(--light-mode-background);
    color: var(--light-mode-text);
}

.container {
    padding: 20px;
    width: 50%;
    text-align: center;
}

.drop-area {
    border: 2px dashed var(--global-border-color);
    border-radius: 8px;
    padding: 20px;
}

.logTextArea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid var(--global-border-color);
    border-radius: 4px;
    padding: 10px;
    outline: none;
}

input {
    background: none;
    border-width: 0px;
    text-decoration: none;
}

input[type="text"]:focus {
    outline: none;
}

.red-text {
    color: var(--red-text);
    text-align: right;
}

.button-svg {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button-text {
    border-radius: 5px;
    cursor: pointer;
    color: var(--light-mode-text);
}

.button-hostname {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    outline: none;
}

button:disabled {
    background-color: grey;
    border-color: grey;
    cursor: not-allowed;
}

@keyframes pop {
    0% { opacity: 0; }
    75% { opacity: 1; }
    100% { transform: scale(1.2); }
}

input[type="checkbox"]:checked {
    animation: pop 0.3s ease;
}

nav {
    width: 100%;
    padding: 10px;
    background-color: var(--light-mode-foreground);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

main {
    margin-top: 10px;
}

.grid-view-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-bottom: 0;
}

.grid-child,
.dialog-inputs {
    background-color: var(--light-mode-foreground);
}

.grid-child {
    position: relative;
    padding: 10px;
    border-radius: 5px;
}

.grid-child a {
    text-decoration: none;
    color: black;
}

.grid-child a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

.grid-child .thumburl img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.grid-child .default-thumburl img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
    object-fit: cover;
}

.grid-child .group {
    border: 1px solid var(--global-border-color);
    border-radius: 5px;
    padding: 3px;
}

.bm-hostname,
.id-creation {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.8em;
    opacity: 0.5;
    font-weight: bold;
}

.pad-like-p {
    padding: 0.5em 0px;
}

.bm-keywords {
    display: inline-block;
}

.grid-child .keywords {
    border-bottom: 1px solid var(--global-border-color);
}

.grid-child .id-creation {
    display: flex;
    justify-content: space-between;
}

.grid-child .buttons {
    position: absolute;
    bottom: 0;
    right: 2%;
    margin-bottom: 2%;
}

.svg-img {
    width: 1.5em;
    height: 1.5em;
    filter: invert(8%) sepia(19%) saturate(21%) hue-rotate(320deg) brightness(104%) contrast(89%);
}

.svg-img:hover {
    opacity: 0.5;
    transition: all ease 0.3s;
}

.dialog-inputs {
    padding: 10px;
    border-radius: 5px;
}

.dialog-inputs input[type="text"] {
    width: 50vw;
    border-bottom: 1px dotted var(--global-border-color);
}

dialog {
    border: 0.5px solid var(--accent-color);
    border-radius: 5px;
    padding: 20px;
    min-width: 50%;
    animation: fade-out 0.5s ease-out;
}

dialog[open] {
    animation: fade-in 0.5s ease-out;
}

dialog[open]::backdrop {
    animation: backdrop-fade-in 0.5s ease-out forwards;
}

body:has(dialog[open]) {
    overflow: hidden;
}

.dialog-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.dialog-type,
.input-search {
    flex: 1;
}

.center-text {
    text-align: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: black;
}

.pagination a:hover:not(.active) {
    background-color: var(--light-mode-foreground);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }
    100% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
}

@keyframes backdrop-fade-in {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@media (prefers-color-scheme: dark) {
    body,
    dialog,
    .logTextArea {
        background-color: var(--dark-mode-background);
        color: var(--dark-mode-text);
    }

    input,
    .grid-child .group,
    .grid-child .keywords,
    .grid-child a,
    .pagination a {
        color: var(--dark-mode-text);
    }

    .pagination a:hover:not(.active) {
        background-color: var(--dark-mode-foreground);
    }

    .button-text {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }

    nav {
        background-color: var(--dark-mode-foreground);
    }

    .grid-child,
    .dialog-inputs,
    .update-main div {
        background-color: var(--dark-mode-foreground);
    }

    .svg-img {
        filter: invert(100%) sepia(46%) saturate(149%) hue-rotate(217deg) brightness(112%) contrast(84%);
    }
}
