:root {
    --background          : 238, 238, 238;
    --foreground          : 221, 221, 221;
    --text                : 0, 0, 0;
    --svg-fill            : invert(8%) sepia(19%) saturate(21%) hue-rotate(320deg) brightness(104%) contrast(89%);
    --global-border-color : 170, 170, 170;
    --accent-color        : #1abbe9;
    --red-text            : #ff3535;
}

[theme-mode="dark"] {
    --background : 18, 18, 18;
    --foreground : 35, 35, 35;
    --text       : 238, 238, 238;
    --svg-fill   : invert(100%) sepia(46%) saturate(149%) hue-rotate(217deg) brightness(112%) contrast(84%);
}

html {
    width: 100%;
}

body {
    font-family: system-ui, Arial, sans-serif;
}

body * {
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

body,
dialog,
.logTextArea {
    background-color: rgb(var(--background));
    color: rgb(var(--text))
}

/* Specficially for /import/ index.html */

.import-main {
    background-color: rgb(var(--foreground));
    width: 70%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 20px;
}

.import-main>div {
    padding: 20px;
}

.import-container {
    text-align: center;
}

.drop-area {
    border: 2px dashed rgb(var(--global-border-color));
    border-radius: 10px;
    padding: 20px;
}

.logTextArea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid rgb(var(--global-border-color));
    border-radius: 1%;
    padding: 10px;
    outline: none;
}

/* End: Specficially for /import/ index.html */

textarea {
    resize: vertical;
    font-family: inherit;
    /* Not available everywhere yet. */
    /* But, accomplishes how this element should behave. */
    /* https://developer.mozilla.org/docs/Web/CSS/field-sizing */
    /* field-sizing: content; */
}

.label-input {
    display: grid;
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.label-input .input-placeholder {
    position: absolute;
    top: 16px;
    left: 8px;
    font-size: 1rem;
    color: rgba(var(--text), 0.5);
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}

.label-input .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--text), 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

.label-input input,
.label-input textarea {
    appearance: none;
    width: 100%;
    border: 0;
    padding: 12px 8px 0 8px;
    height: 48px;
    font-size: 1rem;
    background: rgba(var(--text), 0.02);
    box-shadow: inset 0 -1px 0 rgba(var(--text), 0.3);
    color: rgb(var(--text));
    transition: all 0.15s ease;
}

.label-input textarea {
    padding: 16px 8px 0px 8px;
}

.label-input input:hover,
.label-input textarea:hover {
    background: rgba(var(--text), 0.04);
    box-shadow: inset 0 -1px 0 rgba(var(--text), 0.5);
}

.label-input input:not(:placeholder-shown) + .input-placeholder,
.label-input textarea:not(:placeholder-shown) + .input-placeholder {
    color: rgba(var(--text), 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.label-input input:focus,
.label-input textarea:focus {
    background: rgba(var(--text), 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 var(--accent-color);
}

.label-input input:focus + .input-placeholder,
.label-input textarea:focus + .input-placeholder {
    color: var(--accent-color);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.label-input input:focus + .input-placeholder + .focus-bg,
.label-input textarea:focus + .input-placeholder + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
}

.red-text {
    color: var(--red-text);
    text-align: right;
}

.center-text {
    text-align: center;
}

.svg-img {
    width: 1.5em;
    height: 1.5em;
    filter: var(--svg-fill);
}

.button-svg {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button-svg:hover {
    opacity: 0.5;
    transition: all ease 0.3s;
    cursor: pointer;
}

.button-text {
    border-radius: 5px;
    cursor: pointer;
    color: #000000;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.button-hostname {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    outline: none;
    opacity: 0.5;
}

button:disabled {
    background-color: grey;
    border-color: grey;
    cursor: not-allowed;
}

@keyframes pop {
    0% { opacity: 0; }
    75% { opacity: 1; }
    100% { transform: scale(1.2); }
}

input[type="checkbox"]:checked,
button:active {
    animation: pop 0.3s ease;
}

nav {
    width: 100%;
    padding: 10px;
    background-color: rgb(var(--foreground));
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.nav-left {
    margin-right: auto;
}

main {
    margin-top: 10px;
}

.special-bookmarks,
#all-bookmarks-list {
    display: flex;
    align-items: center;
}

.special-bookmarks {
    cursor: pointer;
}

.grid-view-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-child,
.dialog-inputs {
    background-color: rgb(var(--foreground));
}

.grid-child {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-bottom: inherit;
}

.grid-child a {
    text-decoration: none;
    color: rgb(var(--text));
}

.grid-child a:hover {
    transition: ease-in 0.3s;
    text-decoration: underline;
    color: var(--accent-color);
}

.bkm-info {
    flex: 1;
    padding: 10px;
}

.bkm-thumb-id {
    background-color: rgba(var(--background), 0.3);
}

.thumbnail-image a {
    width: 150px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-thumburl {
    object-fit: contain;
    max-width: 75px;
    max-height: 100%;
}

.thumburl {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.bkm-note {
    white-space: preserve;
    padding: 0.5rem;
    border-radius: 5px;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;*/
    background-color: rgba(var(--background), 0.3);
}

.bkm-keywords {
    display: inline-block;
}

.keywords {
    border-bottom: 1px solid rgb(var(--global-border-color));
    color: rgb(var(--text));
}

.category {
    border: 1px solid rgb(var(--global-border-color));
    border-radius: 5px;
    padding: 5px;
    color: rgb(var(--text));
}

.bkm-category {
    padding: 0 0 0.5rem 0.5rem;
}

.id-modified {
    font-family: monospace;
    opacity: 0.5;
    font-weight: bold;
    font-size: 0.85rem;
    margin: 0px 5px;
    text-align: center;
}

.pad-like-p {
    padding: 0.5em 0px;
}

.footer-grid-child {
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
    margin-top: auto;
    padding: 0.5rem;
}

.footer-grid-child .footer-buttons {
    display: flex;
}

.dialog-inputs {
    padding: 10px;
}

dialog {
    border: 1px solid var(--accent-color);
    padding: 20px;
    min-width: 50%;
}

dialog:open {
    animation: fade-in 0.5s ease-out;
}

dialog::backdrop {
    transition: all 0.5s allow-discrete;
}

dialog:open::backdrop {
    background-color: rgba(0, 0, 0, 50%);
}

body:has(dialog[open]) {
    overflow: hidden;
}

.dialog-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.dialog-type,
.input-search {
    flex: 1;
}

.dialog-search {
    padding: 0;
}

.input-search {
    font-size: 1rem;
}

.pagination {
    margin: 15px;
}

.pagination a {
    color: rgb(var(--text));
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 10%;
    margin: 1px;
}

.pagination a.active {
    background-color: var(--accent-color);
    color: #000000;
}

.pagination a:hover:not(.active) {
    background-color: rgb(var(--foreground));
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }
}

@media only screen and (max-width: 1920px) {
    .grid-view-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
