<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="assets/js/main.js" type="text/javascript" defer></script>
    <title>Dalennod - Search</title>
</head>

<body>
    <!-- Dalennod -->
    <nav>
        <a href="../"><button class="button-svg" id="button-back" title="Go back">
            <img class="svg-img" src="assets/imgs/back_button.svg" alt="Back button">
        </button></a>
    </nav>

    <main>
        <div class="grid-view-list">
            {{ range. }}
            <div class="grid-child" id="{{.ID}}">
                <div id="bm-info">
                    <div id="id-creation">
                        <p><a href="{{.URL}}" target="_blank">{{.ID}}.</a></p>
                        <span style="font-size: 12px;">{{.Modified}}</span>
                    </div>

                    <!-- Multiple `if...else if` statements does not work properly. So, currently this is assuming that every thumbURL was successfully converted to B64ThumbURL. Not necessarily a problem because if the src gets improper image data then the alt text will be shown, but maybe there is a better way to implement this. TODO in future -->
                    {{if .B64ThumbURL}}
                    <div id="thumbURL">
                        <a href="{{.URL}}" target="_blank">
                            <img src="data:image/{{.B64ThumbURL}}" alt="[couldn't load thumbnail]">
                        </a>
                    </div>
                    {{else}}
                    <div id="default-thumbURL">
                        <a href="{{.URL}}" target="_blank">
                            <img src="assets/imgs/41415.png" alt="[couldn't load thumbnail]">
                        </a>
                    </div>
                    {{end}}

                    {{if .Title}}
                    <p><a href="{{.URL}}" target="_blank">{{.Title}}</a></p>
                    {{else if not .Title}}
                    <p><a href="{{.URL}}" target="_blank">{{.URL}}</a></p>
                    {{end}}

                    {{if .Note}}
                    <p>Notes: {{.Note}}</p>
                    {{end}}

                    {{if .Archived}}
                    <p>Archive: <a href="{{.SnapshotURL}}" target="_blank">[click here]</a></p>
                    {{end}}

                    {{if .Keywords}}
                    <p><span id="keywords">{{.Keywords}}</span></p>
                    {{end}}

                    {{if .BGroup}}
                    <p><span id="group">{{.BGroup}}</span></p>
                    {{end}}
                </div>

                <div id="buttons">
                    <button class="button-svg" id="button-update" onclick="window.location.href='update.html'; getOldData(this);" title="Update">
                        <img class="svg-img" src="assets/imgs/update_button.svg" alt="Update button"> </button>
                    <button class="button-svg" id="button-delete" onclick="deleteEntry(this);" title="Delete">
                        <img class="svg-img" src="assets/imgs/delete_button.svg" alt="Delete button"> </button>
                    <span id="delete-checkmark-{{.ID}}" hidden>&check;</span>
                </div>
            </div>
            {{ end }}
        </div>
    </main>
</body>

</html>
