<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <script src="js/main.js" type="text/javascript" defer></script>
    <title>Dalennod - Search</title>
</head>

<body>
    <!-- Dalennod -->
    <nav>
        <a href="../"><button class="button-svg" id="button-back" title="Go back">
            <svg fill="#000000" id="svg-back" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"> <g stroke-width="0"></g> <g stroke-linecap="round" stroke-linejoin="round"></g> <path d="M49.132,21.984L12.714,48.039c-0.66,0.471-1.049,1.233-1.051,2.043c0,0.006,0,0.006,0,0.006 c0.002,0.815,0.396,1.575,1.059,2.048L49.14,78.023c0.767,0.546,1.776,0.616,2.612,0.183c0.835-0.426,1.361-1.291,1.361-2.236 V63.787l32.709,0.001c1.39,0,2.515-1.125,2.515-2.516l-0.001-22.541c0.001-1.389-1.124-2.515-2.516-2.516l-32.706,0V24.029 c0-0.94-0.53-1.803-1.367-2.237C50.911,21.359,49.9,21.434,49.132,21.984z"> </path> </svg>
        </button></a>
    </nav>

    <main>
        <div class="grid-view-list">
            {{ range. }}
            <div class="grid-child" id="{{.ID}}">
                <div id="bm-info">
                    <div id="id-creation">
                        <p><a href="{{.URL}}" target="_blank">{{.ID}}.</a></p>
                        <span style="font-size: 12px;">{{.Modified}}</span>
                    </div>

                    {{if .ThumbURL}}
                    <div id="thumbURL">
                        <a href="{{.URL}}" target="_blank">
                            <img src="{{.ThumbURL}}" alt="[couldn't load thumbnail]">
                        </a>
                    </div>
                    {{else if not .ThumbURL}}
                    <div id="default-thumbURL">
                        <a href="{{.URL}}" target="_blank">
                            <img src="assets/imgs/41415.png" alt="[couldn't load thumbnail]">
                        </a>
                    </div>
                    {{end}}

                    {{if .Title}}
                    <p><a href="{{.URL}}" target="_blank">{{.Title}}</a></p>
                    {{else if not .Title}}
                    <p><a href="{{.URL}}" target="_blank">{{.URL}}</a></p>
                    {{end}}

                    {{if .Note}}
                    <p>Notes: {{.Note}}</p>
                    {{end}}

                    {{if .Archived}}
                    <p>Archive: <a href="{{.SnapshotURL}}" target="_blank">[click here]</a></p>
                    {{end}}

                    {{if .Keywords}}
                    <p><span id="keywords">{{.Keywords}}</span></p>
                    {{end}}

                    {{if .BGroup}}
                    <p><span id="group">{{.BGroup}}</span></p>
                    {{end}}
                </div>

                <div id="buttons">
                    <button class="button-svg" id="button-update" onclick="window.location.href='update.html'; getOldData(this);" title="Update">
                        <svg fill="#000000" id="svg-update" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"> <g stroke-width="0"></g> <g stroke-linecap="round" stroke-linejoin="round"></g> <path d="M88.79,29.297L70.702,11.209c-1.052-1.052-2.756-1.052-3.808,0L17.389,60.713l0.109,0.109l-0.171-0.046l-6.772,25.272 l0.004,0.001c-0.309,0.935-0.103,2.004,0.642,2.748c0.822,0.822,2.038,0.993,3.033,0.531l0.002,0.009l25.027-6.706l-0.016-0.059 l0.038,0.038L88.79,33.105C89.842,32.053,89.842,30.349,88.79,29.297z M18.792,81.147l4.022-15.009l10.988,10.988L18.792,81.147z"> </path> </svg>
                    </button>
                    <button class="button-svg" id="button-delete" onclick="deleteEntry(this);" title="Delete">
                        <svg fill="#000000" id="svg-delete" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"> <g stroke-width="0"></g> <g stroke-linecap="round" stroke-linejoin="round"></g> <path d="M75.834,33.388h-51.67c-1.311,0-2.375,1.058-2.375,2.373v49.887c0,1.314,1.064,2.377,2.375,2.377h51.67 c1.314,0,2.375-1.063,2.375-2.377V35.76C78.209,34.446,77.148,33.388,75.834,33.388z"> </path> <path d="M79.004,17.352H59.402v-2.999c0-1.314-1.061-2.377-2.373-2.377H42.971c-1.312,0-2.375,1.063-2.375,2.377v2.999H20.996 c-1.312,0-2.375,1.059-2.375,2.373v6.932c0,1.314,1.063,2.373,2.375,2.373h58.008c1.314,0,2.375-1.059,2.375-2.373v-6.932 C81.379,18.41,80.318,17.352,79.004,17.352z"> </path> </svg>
                    </button>
                    <span id="delete-checkmark-{{.ID}}" hidden>&check;</span>
                </div>
            </div>
            {{ end }}
        </div>
    </main>
</body>

</html>