<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <script src="js/main.js" type="text/javascript" defer></script>
    <title>Dalennod - Search</title>
</head>

<body>
    <!-- Dalennod -->
    <nav>
        <a href="../"><button id="button-back">&lt;// Back</button></a>
    </nav>

    <main>
        <div class="grid-view-list">
            {{ range. }}
            <div class="grid-child" id="{{.ID}}">
                <div id="bm-info">
                    <div id="id-creation">
                        <p><a href="{{.URL}}" target="_blank">{{.ID}}.</a></p>
                        <span style="font-size: 12px;">{{.Modified}}</span>
                    </div>

                    {{if .ThumbURL}}
                    <div id="image">
                        <a href="{{.URL}}" target="_blank">
                            <img src="{{.ThumbURL}}" alt="[couldn't load thumbnail]">
                        </a>
                    </div>
                    {{else if not .ThumbURL}}
                    <div id="image">
                        <a href="{{.URL}}" target="_blank">
                            <img src="assets/imgs/41415.png" alt="[couldn't load thumbnail]" height="50%" width="50%">
                        </a>
                    </div>
                    {{end}}

                    {{if .Title}}
                    <p><a href="{{.URL}}" target="_blank">{{.Title}}</a></p>
                    {{else if not .Title}}
                    <p><a href="{{.URL}}" target="_blank">{{.URL}}</a></p>
                    {{end}}

                    {{if .Note}}
                    <p>Notes: {{.Note}}</p>
                    {{end}}

                    {{if .Archived}}
                    <p>Archived: <a href="{{.SnapshotURL}}" target="_blank">[click here]</a></p>
                    {{end}}

                    {{if .Keywords}}
                    <p> <span id="keywords">{{.Keywords}}</span> </p>
                    {{end}}

                    {{if .BGroup}}
                    <p><span id="group">{{.BGroup}}</span></p>
                    {{end}}
                </div>

                <div id="buttons">
                    <button id="button-delete" onclick="deleteEntry(this);">Delete</button> <span
                        id="delete-checkmark-{{.ID}}" hidden>&check;</span>
                    <button id="button-update"
                        onclick="window.location.href='update.html'; getOldData(this);">Update</button>
                </div>
            </div>
            {{ end }}
        </div>
    </main>
</body>

</html>