{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/main.js" type="text/javascript" defer></script>
    <script src="static/js/htmx.min.js" type="text/javascript" defer></script>
    <title>Dalennod</title>
</head>

<body>
    <nav>
        <form class="search-form" hx-post="/search/">
            <input autofocus type="text" name="searchTerm" class="input-search" placeholder="Search a keyword...">
            <button class="button-svg" type="submit" id="button-search-html" hx-target="main" hx-post="/search/" title="Search"> <img class="svg-img" src="static/imgs/search_button.svg" alt="Search button"> </button>
        </form>
        <button class="button-svg" id="button-add-html" title="Create" onclick="showCreateDialog();" hx-target="#bmGroups-list" hx-get="/groups/"> <img class="svg-img" src="static/imgs/create_button.svg" alt="Create button"> </button>
    </nav>

    <main>
        {{ block "bm_list" . }}
        <div class="grid-view-list">
            {{ range .Bookmarks }}
            <div class="grid-child" id="{{ .ID }}">
                <div id="bm-info">
                    <div id="id-creation">
                        <p><a href="{{ .URL }}" target="_blank">{{ .ID }}.</a></p>
                        <span>{{ .Modified }}</span> </div>
                    {{ if .ByteThumbURL }}
                    <div id="thumbURL"> 
                        <a href="{{ .URL }}" target="_blank"> <img src="data:image/{{ byteConversion .ByteThumbURL }}" alt="[couldn't load thumbnail]"> </a> </div>
                    {{ else if .ThumbURL }}
                    <div id="thumbURL"> 
                        <a href="{{ .URL }}" target="_blank"> <img src="{{ .ThumbURL }}" alt="[couldn't load thumbnail]"> </a> </div>
                    {{ else }}
                    <div id="default-thumbURL"> 
                        <a href="{{ .URL }}" target="_blank"> <img src="static/imgs/41415.png" alt="[couldn't load thumbnail]"> </a> </div>
                    {{ end }}

                    {{ if .Title }}
                    <p><a href="{{ .URL }}" target="_blank">{{ .Title }}</a></p>
                    {{ else if not .Title }}
                    <p><a href="{{ .URL }}" target="_blank">{{ .URL }}</a></p>
                    {{ end }}

                    {{ if .Note }}
                    <p>Notes: {{ .Note }}</p>
                    {{ end }}

                    {{ if .Archived }}
                    <p>Archive: <a href="{{ .SnapshotURL }}" target="_blank">[click here]</a></p>
                    {{ end }}

                    {{ if .Keywords }}
                    <div>
                        {{ $id := .ID }}
                        {{ $keywords := keywordSplit .Keywords "," }}
                        {{ range $_, $keyword := $keywords }}
                            <div> <form hx-post="/searchKeyword/">
                                <input hidden name="searchTerm" value="{{ $keyword }}">
                                <button class="button-svg" type="submit" id="button-search-html" hx-target="main" hx-post="/searchKeyword/" title="Search for this keyword"> <span id="keywords">{{ $keyword }}</span> </button>
                            </form> </div>
                        {{ end }}
                    </div>
                    {{ end }}

                    {{ if .BmGroup }}
                    <p> <form hx-post="/searchGroup/">
                            <input hidden name="searchTerm" value="{{ .BmGroup }}">
                            <button class="button-svg" type="submit" id="button-search-html" hx-target="main" hx-post="/searchGroup/" title="Search for this group"> <span id="group">{{ .BmGroup }}</span> </button>
                        </form> </p>
                    {{ end }}
                </div>

                <div id="buttons">
                    <button class="button-svg" id="button-update" onclick="getOldData(this);" hx-target="#bmGroups-list" hx-get="/groups/" title="Update">
                        <img class="svg-img" src="static/imgs/update_button.svg" alt="Update button"> </button> 
                    <button class="button-svg" id="button-delete" hx-target="main" hx-get="/delete/{{ .ID }}" title="Delete">
                        <img class="svg-img" src="static/imgs/delete_button.svg" alt="Delete button"> </button>
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </main>

    <dialog class="dialog-create">
        <div class="dialog-top"> 
            <span class="dialog-type">Create a new bookmark</span>
            <button onclick="closeCreateDialog();" hx-target="main" hx-get="/" class="button-svg" id="button-close" title="Close modal"><img class="svg-img" src="static/imgs/close_button.svg" alt="Close button"></button> </div>
        <div class="dialog-inputs">
            <p>URL<span class="red-text">*</span>:<br><input autofocus type="text" class="uac-input" id="create-url" placeholder="URL to save" required></p>
            <p>Title:<br><input type="text" class="uac-input" id="create-title" placeholder="Title for the bookmark"></p>
            <p>Notes:<br><input type="text" class="uac-input" id="create-note" placeholder="Log notes for bookmark"></p>
            <p>Keywords:<br><input type="text" class="uac-input" id="create-keywords" placeholder="Keywords, to, search, bookmark"></p>
            <p>Group:<br><input type="text" class="uac-input" id="create-bmGroup" placeholder="Group to store bookmark into" list="bmGroups-list">
                <datalist id="bmGroups-list"> {{ template "curr_groups" . }} </datalist> </p>
            <p>Archive?:
                <input type="radio" name="create-radio-yes" id="create-radio-yes" value="1">
                <label for="create-radio-yes">Yes</label>
                <input type="radio" name="create-radio-yes" id="create-radio-no" value="0" checked>
                <label for="create-radio-yes">No</label> </p>
            <p class="red-text">* required</p>
            <p class="center-text">
                <button class="button-text" id="button-add-req" onclick="addEntry();" title="Create">Create</button> <span id="create-checkmark" hidden>&check;</span> 
                <span id="create-archive-warn" class="red-text" hidden>WARN: Archiving may take few seconds to minutes. It's safe to navigate away in the meantime.</span> </p>
        </div>
    </dialog>

    <dialog class="dialog-update">
        <div class="dialog-top"> 
            <span class="dialog-type">Update a bookmark</span>
            <button onclick="closeUpdateDialog();" hx-target="index" hx-get="/" class="button-svg" id="button-close" title="Close modal"><img class="svg-img" src="static/imgs/close_button.svg" alt="Close button"></button> </div>
        <div class="dialog-inputs">
            <span id="bm-id" hidden></span>
            <p>URL<span class="red-text">*</span>:<br><input type="text" class="uac-input" id="update-url" placeholder="URL to save" required></p>
            <p>Title:<br><input type="text" class="uac-input" id="update-title" placeholder="Title for the bookmark"></p>
            <p>Notes:<br><input type="text" class="uac-input" id="update-note" autofocus placeholder="Log notes for bookmark"></p>
            <p>Keywords:<br><input type="text" class="uac-input" id="update-keywords" placeholder="Keywords, to, search, bookmark"></p>
            <p>Group:<br><input type="text" class="uac-input" id="update-bmGroup" placeholder="Group to store bookmark into" list="bmGroups-list">
                <datalist id="bmGroups-list"> {{ template "curr_groups" . }} </datalist> </p>
            <p id="update-archive">Archive?:
                <input type="radio" name="update-radio-yes" id="update-radio-yes" value="1">
                <label for="update-radio-yes">Yes</label>
                <input type="radio" name="update-radio-yes" id="update-radio-no" value="0" checked>
                <label for="update-radio-yes">No</label> </p>
            <p class="red-text">* required</p>
            <p class="center-text">
                <button class="button-text" id="button-update-req" onclick="updateEntry();" title="Create">Update</button> <span id="update-checkmark" hidden>&check;</span>
                <span id="update-archive-warn" class="red-text" hidden>WARN: Archiving may take few seconds to minutes. It's safe to navigate away in the meantime.</span> </p>
        </div>
    </dialog>
</body>

</html>
{{ end }}

{{ define "curr_groups" }}
    {{ range .AllGroups }}
        <option value="{{ . }}"></option>
    {{ end }}
{{ end }}
