{{ block "index" . }}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta property="og:image" content="{{ webUIAddress  }}/static/imgs/favicon.ico">
    <link rel="icon" type="image/x-icon" href="static/imgs/favicon.ico" />
    <!-- <link rel="stylesheet" href="static/css/reset.css" /> -->
    <link rel="stylesheet" href="static/css/styles.css" />
    <script src="static/js/main-script.js" type="text/javascript" defer></script>
    <title>Dalennod</title>
  </head>

  <body>
    <nav>
      <form class="search-form" action="/" method="get">
        <input type="text" name="search-type" value="general" hidden />
        <input type="text" name="search-term" class="input-search" placeholder="Search a keyword..." />
        <button class="button-svg" type="submit" id="button-search-html" title="Search">
          <img class="svg-img" src="static/imgs/search_button.svg" alt="Search button" />
        </button>
      </form>
      <button class="button-svg" id="button-add-html" title="Create" onclick="showCreateDialog();" onmouseenter="changeToImport();" onmouseleave="clearImportTimeout();">
        <img class="svg-img" src="static/imgs/create_button.svg" alt="Create button" />
      </button>
    </nav>

    <main>
      {{ block "bm_list" . }}
      <div class="grid-view-list">
        {{ range .Bookmarks }}
        <div class="grid-child" id="{{ .ID }}">
          <div class="bm-info">
            <div class="id-creation pad-like-p">
              <a href="/api/row/{{ .ID }}" target="_blank">{{ .ID }}.</a>
              <span>{{ .Modified }}</span>
            </div>
            {{ if .ByteThumbURL }}
            <div class="thumburl">
              <a href="{{ .URL }}" target="_blank">
                <img src="data:image/{{ byteConversion .ByteThumbURL }}" alt="[couldn't load thumbnail]" />
              </a>
            </div>
            {{ else }}
            <div class="default-thumburl">
              <a href="{{ .URL }}" target="_blank">
                <img src="static/imgs/41415.png" alt="[couldn't load thumbnail]" />
              </a>
            </div>
            {{ end }}
            <div class="center-text pad-like-p">
              {{ $hostname := getHostname .URL }}
              <form action="/" method="get">
                <input hidden name="search-type" value="hostname" />
                <input hidden name="search-term" value="{{ $hostname }}" />
                <button type="submit" class="button-hostname bm-hostname" title="Search for this host" tabindex="-1">{{ $hostname }}</button>
              </form>
            </div>
            {{ if .Title }}
            <div class="pad-like-p">
              <a href="{{ .URL }}" target="_blank">{{ .Title }}</a>
            </div>
            {{ else if not .Title }}
            <div class="pad-like-p">
              <a href="{{ .URL }}" target="_blank">{{ .URL }}</a>
            </div>
            {{ end }}
            {{ if .Note }}
            <div class="pad-like-p show-note">Notes: {{ .Note }}</div>
            {{ end }}
            {{ if .Archived }}
            <div class="pad-like-p">
              Archive: <a href="{{ .SnapshotURL }}" target="_blank" title="{{ .SnapshotURL }}">[click here]</a>
            </div>
            {{ end }}
            {{ if .Keywords }}
            <div class="pad-like-p">
              {{ $keywords := keywordSplit .Keywords "," }}
              {{ range $_, $keyword := $keywords}}
              <div class="bm-keywords">
                <form action="/" method="get">
                  <input hidden name="search-type" value="keyword" />
                  <input hidden name="search-term" value="{{ $keyword }}" />
                  <button class="button-svg" type="submit" id="button-search-html" title="Search for '{{ $keyword }}' keyword">
                    <span id="keywords" class="keywords">{{ $keyword }}</span>
                  </button>
                </form>
              </div>
              {{ end }}
            </div>
            {{ end }}
            <div class="pad-like-p">
              {{ if .BmGroup }}
              <form action="/" method="get">
                <input hidden name="search-type" value="group" />
                <input hidden name="search-term" value="{{ .BmGroup }}" />
                <button class="button-svg" type="submit" id="button-search-html" title="Search for '{{ .BmGroup }}' group">
                  <span id="group" class="group">{{ .BmGroup }}</span>
                </button>
              </form>
              {{ end }}
            </div>
          </div>
          <div id="buttons" class="buttons">
            <button class="button-svg" id="button-update" onclick="getOldData(this);" title="Update">
              <img class="svg-img" src="static/imgs/update_button.svg" alt="Update button" />
            </button>
            <button class="button-svg" id="button-delete" title="Delete" ondblclick="deleteEntry(this);">
              <img class="svg-img" src="static/imgs/delete_button.svg" alt="Delete button" />
            </button>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </main>

    <div class="pagination center-text">
      <a href="/" title="First page">&lt;&lt;</a><a id="prev-page" title="Previous page">&lt;</a><span id="pagination-numbers"></span><a id="next-page" title="Next page">&gt;</a><a id="last-page" title="Last page">&gt;&gt;</a>
    </div>

    <dialog class="dialog-create">
      <div class="dialog-top">
        <span class="dialog-type">Create a new bookmark</span>
        <button onclick="closeCreateDialog();" class="button-svg" id="button-close" title="Close modal">
          <img class="svg-img" src="static/imgs/close_button.svg" alt="Close button" />
        </button>
      </div>
      <div class="dialog-inputs">
        <div class="pad-like-p">
          URL: <span class="red-text">*</span><br /><input autofocus type="text" class="uac-input" id="create-url" placeholder="URL to save" required />
        </div>
        <div class="pad-like-p">
          Title:<br /><input type="text" class="uac-input" id="create-title" placeholder="Title for the bookmark" />
        </div>
        <div class="pad-like-p">
          Notes:<br /><textarea class="uac-input" id="create-note" placeholder="Log notes for bookmark"></textarea>
        </div>
        <div class="pad-like-p">
          Keywords:<br /><input type="text" class="uac-input" id="create-keywords" placeholder="Keywords, to, search, bookmark" />
        </div>
        <div class="pad-like-p">
          Group:<br /><input type="text" class="uac-input" id="create-bmGroup" placeholder="Group to store bookmark into" list="bmGroups-list-create" />
          <datalist id="bmGroups-list-create"></datalist>
        </div>
        <div class="pad-like-p">
          Archive?:
          <input type="checkbox" name="create-archive" id="create-archive" title="Check to archive" onclick="archiveCheckbox()" />
          <label for="create-archive" class="create-archive-label" title="Check to archive">No</label>
        </div>
        <p class="red-text">* required</p>
        <div class="center-text pad-like-p">
          <button class="button-text" id="button-add-req" onclick="addEntry();" title="Create">Create</button>
          <span id="create-checkmark" hidden>&check;</span>
          <span id="create-archive-warn" class="red-text" hidden>WARN: Archiving may take few seconds to minutes. It's safe to navigate away in the meantime.</span>
        </div>
      </div>
    </dialog>

    <dialog class="dialog-update">
      <div class="dialog-top">
        <span class="dialog-type">Update a bookmark</span>
        <button onclick="closeUpdateDialog();" class="button-svg" id="button-close" title="Close modal">
          <img class="svg-img" src="static/imgs/close_button.svg" alt="Close button" />
        </button>
      </div>
      <div class="dialog-inputs">
        <span id="bm-id" hidden></span>
        <div class="pad-like-p">
          URL: <span class="red-text">*</span><br /><input type="text" class="uac-input" id="update-url" placeholder="URL to save" required />
        </div>
        <div class="pad-like-p">
          Title:<br /><input type="text" class="uac-input" id="update-title" placeholder="Title for the bookmark" />
        </div>
        <div class="pad-like-p">
          Notes:<br /><textarea class="uac-input" id="update-note" autofocus placeholder="Log notes for bookmark"></textarea>
        </div>
        <div class="pad-like-p">
          Keywords:<br /><input type="text" class="uac-input" id="update-keywords" placeholder="Keywords, to, search, bookmark" />
        </div>
        <div class="pad-like-p">
          Group:<br /><input type="text" class="uac-input" id="update-bmGroup" placeholder="Group to store bookmark into" list="bmGroups-list-update" />
          <datalist id="bmGroups-list-update"></datalist>
        </div>
        <div class="pad-like-p" id="update-archive-div">
          Archive?:
          <input type="checkbox" name="update-archive" id="update-archive" title="Check to archive" onclick="archiveCheckbox()" />
          <label for="update-archive" class="update-archive-label" title="Check to archive">No</label>
        </div>
        <p class="red-text">* required</p>
        <div class="center-text pad-like-p">
          <button class="button-text" id="button-update-req" onclick="updateEntry();" title="Update">Update</button>
          <span id="update-checkmark" hidden>&check;</span>
          <span id="update-archive-warn" class="red-text" hidden>WARN: Archiving may take few seconds to minutes. It's safe to navigate away in the meantime.</span>
        </div>
      </div>
    </dialog>
  </body>
</html>
{{ end }}
